QEMU_EFI.img
efi.img
debian-9.?.0-arm64-netinst.iso
debian-9.?.0-arm64-netinst.iso.preseed
debian-9.?.0-armhf-netinst.iso
debian-9.?.0-armhf-netinst.iso.preseed
debian-testing-arm64-netinst.iso
debian-testing-arm64-netinst.iso.preseed
debian-testing-armhf-netinst.iso
debian-testing-armhf-netinst.iso.preseed
debian.img.32.stable
debian.img.32.stable.iso
debian.img.32.testing
debian.img.32.testing.iso
debian.img.32.unstable
debian.img.32.unstable.iso
debian.img.64.stable
debian.img.64.stable.iso
debian.img.64.stable.varstore
debian.img.64.testing
debian.img.64.testing.iso
debian.img.64.testing.varstore
debian.img.64.unstable
debian.img.64.unstable.iso
debian.img.64.unstable.varstore
vmlinuz-4.19.0-?-armmp-lpae
initrd.img-4.19.0-?-armmp-lpae
vmlinuz-4.9.0-8-armmp-lpae
initrd.img-4.9.0-8-armmp-lpae
